@import '../../styles/index';

.component {
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.image {
    margin-bottom: 12px;
}

.title {
    color: $white;
    margin-bottom: 6px;
}

.description {
    color: rgba($color: $white, $alpha: $low-opacity);
}