@import '../../styles/index';

.component {
    @include center-child;
    border-radius: 99px;

    & svg {
        position: relative;
        left: 4%;
        width: 10.7px;
        height: 12.35px;
        transform: scale(0.9);
    }
}