@import '../../styles/index';

.component {
    @include center-child;
    justify-content: flex-start;
    height: 40px;
    border-radius: 99px;
    padding: 0 6px;
    width: 200px;
    background-color: rgba($color: $white, $alpha: $lowest-opacity);
}

.image {
    float: left;
    min-width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 99px;
    margin-right: 6px;
}

.name {
    opacity: $low-opacity;
    padding-right: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}