@import './styles/index';

* {
  box-sizing: border-box;
  color: $white;
}

body {
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus, input:focus{
  outline: none;
}

.null {}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}