@import './styles/index';

* {
  box-sizing: border-box;
  color: $white;
}

body {
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($color: $white, $alpha: $lower-opacity);
}

textarea:focus, input:focus{
  outline: none;
}

.null {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}